<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty was built by <a target="_blank" href="https://github.com/tigersabre">Sarosh</a>, a developer on a mission to get the technical skills needed to launch his own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Sarosh Arunkumar</h2>
      <br />
      <p>
        Sarosh Arunkumar is a lead QA and Software Engineer. He previously worked for Motorola Mobility, Cisco Systems, and presently AppDynamics.  He's married for 15 years with 5 kids (woo hoo!)
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />