@font-face {
  font-family: 'impact_label_reversedregular';
  src: font_url('impact_label_reversed-webfont.woff2') format('woff2'),
  font_url('impact_label_reversed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'impact_labelregular';
  src: font_url('impact_label-webfont.woff2') format('woff2'),
  font_url('impact_label-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}